.page {
  flex: 1;
  background-color: #f5f5f5;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: var(--mantine-spacing-md);
}

@media (min-width: $mantine-breakpoint-md) {
  .container {
    padding-inline: 60px;
  }
}
