.container {
  width: 100%;
}

.headerPaper {
  overflow: hidden;
}

.banner {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.avatarOverlap {
  margin-top: -44px;
  border: 4px solid var(--mantine-color-body);
}
