.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--mantine-color-white);
  border-bottom: 1px solid var(--mantine-color-ink-2);
}

.logoLink {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  width: auto;
  height: 36px;
  object-fit: contain;
}

@media (min-width: $mantine-breakpoint-md) {
  .logo {
    height: 48px;
  }
}
